:root {
  --dark-background-color: #1f2937;
  --hero-main-: #ffffff;
  --hero-main-color: ;
  --secondary-text-color: #e5e7eb;
  --accent-color: #3882f6
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  width: 900px;
  justify-content: space-between;
  align-items: center;
}

.gap-40 {
  gap: 40px;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  background-color: var(--dark-background-color);
  justify-content: center;
  padding: 16px;
}

.hero-logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: 18px;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-background-color);
  padding: 100px 16px;
}

.hero-heading-container {
  flex: 1 1 50%;
}

.hero-subject {
  font-size: 48px;
  color: #f9faf8;
  font-weight: extra-bold;
}

.hero-lead {
  font-size: 18px;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.hero-button {
  background-color: var(--accent-color);
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 8px 30px;
  font-size: 16px;
  font-weight: bold;
}

.hero-image {
  max-width: 400px;
  margin: 0 auto;
  flex: 1 1 50%;
  border-radius: 10px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-background-color);
  color: var(--secondary-text-color);
  font-size: 18px;
  padding: 32px;
}